{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blog/css/base.css' %}">
    {% block staticfiles %}
    {% endblock staticfiles %}
    <title>
        {% block title %}
            Jotter
        {% endblock title %}
    </title>
</head>
<body>
    <div class="navbar">
        <a href="{% url 'blog:index' %}">
            <div class="logo">
                <img src="{% static 'blog/img/post.svg' %}" alt="" style="width: 50px;">
                Jotter
            </div>
        </a>
        <form action="{% url 'blog:search' %}" method="GET">
            <input type="text" placeholder="Search" name='search'>
        </form>
        <div class="links">
            {% if user.is_authenticated %}
                <a href="{% url 'accounts:profile' user.username %}" class="profile">
                    <img src="{% static 'blog/img/account-circle.svg' %}" alt="" style="width: 25px;">
                    
                </a>
                <a href="{% url 'accounts:logout' %}" class="logout">
                    <img src="{% static 'blog/img/logout.svg' %}" alt="" style="width: 25px;">
                    </a>
            {% else %}
                <a href="{% url 'accounts:login' %}" class="login">Login</a>
            {% endif %}
        </div>
    </div>
    <div class="main">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>