{% load static %}

<div class="post">
    <div class="header">
        <div class="topic"><a href="{% url 'blog:topicDetail' post.topic.uuid %}">{{ post.topic|upper }}</a></div>
        <div class="time">{{ post.dateAdded|date:"F jS o" }}</div>
    </div>
    <div class="title"><a href="{% url 'blog:postDetail' post.slug %}">{{ post.title|upper }}</a></div>
    <div class="content">{{ post.text|truncatewords:70 }}</div>
    <div class="footer">
        <div class="like">❤️</div>
        <div class="share">🦈</div>
    </div>
</div>