{% extends "blog/base.html" %}
{% load static %}

{% block staticfiles %}
<link rel="stylesheet" href="{% static 'blog/css/newPost.css' %}">
<link rel="stylesheet" href="{% static 'blog/css/newPostField.css' %}">
<script src="{% static 'blog/js/newPost.js' %}" defer></script>
{% endblock staticfiles %}

{% block title %}
Jot
{% endblock title %}

{% block content %}
<div class="newPost">
    <div class="postmain">
        <div class="title"></div>
        <div class="newPost-form">
            <form action="{% url 'blog:newPost' %}" method="POST" id="newPostForm">
                {% csrf_token %}
                {% for field in form %}
                {% if field.name != 'topic' and field.name != 'tags' %}
                {% include 'blog/newPostField.html' %}
                {% else %}
                {% endif %}
                {% endfor %}
            </form>
        </div>
    </div>
    <div class="aside">
        <div class="post-author">
            <div class="title">Author</div>
            <div class="name">
                <div class="profileImage"></div>
                {{ user.get_full_name }} 
            </div>
        </div>
        <div class="topic-tags">
            {% for field in form %}
            {% if field.name == 'topic' or field.name == 'tags' %}
            <div class="aside-field">
                <div class="title">{{ field.name|title }}</div>
                <div class="errors">{{ field.errors }}</div>
                <div class="field">{{ field }}</div>
            </div>
            {% else %}
            {% endif %}
            {% endfor %}
            <div class="post-date">
                <div class="header">Post Date</div>
                <div class="date">
                    <div class="content"></div>
                    <div class="icon"></div>
                </div>
                <div class="time">
                    <div class="content"></div>
                    <div class="icon"></div>
                </div>
            </div>
        </div>
        <div class="buttons">
            <input type="submit" form="newPostForm" class="submit">
            <button class="draft">Draft</button>
        </div>
    </div>
</div>
{% endblock content %}