{% extends "blog/base.html" %}
{% load static %}

{% block staticfiles %}
<link rel="stylesheet" href="{% static 'blog/css/postDetail.css' %}">
<link rel="stylesheet" href="{% static 'blog/css/blogComment.css' %}">
<script src="{% static 'blog/js/postDetail.js' %}" defer></script>
{% endblock staticfiles%}

{% block title %}
{{ post.title }}
{% endblock title %}

{% block content %}
<script>
    const likeUrl = "{% url 'blog:like' post.uuid %}";
    const unlikeUrl = "{% url 'blog:unlike' post.uuid %}";
</script>

<div class="postDetail">
    <div class="header">
        <div class="auth-time"><a href="{% url 'accounts:profile' post.author %}">@{{ post.author }}</a> • {{
            post.dateAdded|date:"F jS o" }}</div>
        <div class="auth"></div>
        <div class="title">{{ post.title|title }}</div>
        <div class="topic"><a href="{% url 'blog:topicDetail' post.topic.uuid %}">{{ post.topic|upper }}</a></div>
        <div class="tags">
            {% for tag in tags %}
            <a href="{% url 'blog:tag' tag %}">
                <div class="tag">{{ tag }}</div>
            </a>
            {% empty %}
            {% endfor %}
        </div>
    </div>
    <div class="content">
        {{ post.text|linebreaks }}
        <div class="feedback">
            <div>
                {% if like %}
                <img src="{% static 'blog/icons/thumb-up.svg' %}" alt="">
                <a href="#" class="dislike">dislike</a>
                <a href="#" class="like" style="display: none;">like</a>
                {% else %}
                <img src="{% static 'blog/icons/thumb-up.svg' %}" alt="" style="display: none;">
                <a href="#" class="like">like</a>
                <a href="#" class="dislike" style="display: none;">dislike</a>
                {% endif %}
            </div>
            {% if user.is_authenticated %}
            <div class="reply"><img src="{% static 'blog/icons/reply.svg' %}" alt=""> Reply</div>
            {% endif %}
        </div>
    </div>
    <div class="commentState success" style="display: none">
    </div>
    <div class="newComment" style="display: none">
        <div class="commentURL" hidden>{% url 'blog:newComment' post.uuid %}</div>
        <form id="commentForm">
            {% csrf_token %}
            <input type="text" name="text" placeholder="Your response..." autocomplete="off">
        </form>
        <input type="submit" class="submit">
    </div>
    {% if comments %}
    <div class="comment">Comments</div>
    <div class="comments">
        {% for comment in comments %}
        {% include "blog/blogComment.html" %}
        {% empty %}
        {% endfor %}
    </div>
    {% else %}
    {% endif %}
</div>
{% endblock content %}