{% extends "blog/base.html" %}

{% block title %}
    {{ post.title }}
{% endblock title %}

{% block content %}
    <div class="header">Image</div>
    <div class="main">
        <div class="header">
            <div class="topic"><a href="{% url 'blog:topicDetail' post.topic.uuid %}">{{ post.topic }}</a></div>
            <div class="time">{{ post.dateAdded|date:"F jS o" }}</div>
            <div class="auth">{{ post.author }}</div>
        </div>
        <div class="title">{{ post.title }}</div>
        <div class="content">{{ post.text|linebreaks }}</div>
        <div class="tags">
            {{ post.tags }}
        </div>
        <div class="footer">
            <div class="like">❤️</div>
            <div class="share">🦈</div>
        </div>
        <div class="comments">
            {% for comment in comments %}
                {% include "blog/blogComment.html" %}
            {% empty %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}