{% extends "blog/base.html" %}
{% load static %}

{% block title %}
{{ topic }}
{% endblock title %}

{% block staticfiles %}
    <link rel="stylesheet" href="{% static 'blog/css/blogPost.css' %}">
    <script src="{% static 'blog/js/topicDetail.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'blog/css/topicDetails.css' %}">
{% endblock staticfiles %}

{% block content %}
<script>
    var subUrl = "{% url 'blog:subscribe' topic.uuid %}";
    var unsubUrl = "{% url 'blog:unsubscribe' topic.uuid %}"
</script>

<div class="topic-main">
    <div class="topic-header">
        <div class="bg-overlay"></div>
        <div class="title">{{ topic.title|title }}</div>
        <div class="followers">{{ subscribers|length }}</div>
        {% if subscribed %}
            <button class="unsub">Unsubscribe</button>
        {% else %}
            <button class="sub">Subscribe</button>
        {% endif %}
    </div>
    <div class="topic-content">
        {% for post in posts %}
        {% include "blog/blogPost.html" %}
        {% empty %}
        {% endfor %}
    </div>
</div>
{% endblock content %}