{% extends "blog/base.html" %}
{% load static %}

{% block staticfiles %}
<script src="{% static 'accounts/js/profile.js' %}" defer></script>
<script src="{% static 'accounts/js/profileTab.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'blog/css/blogPost.css' %}">
<link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}">
<link rel="stylesheet" href="{% static 'accounts/css/topicTab.css' %}">
<link rel="stylesheet" href="{% static 'accounts/css/profileTab.css' %}">
{% endblock staticfiles %}

{% block title %} 
{{ profile.username }}
{% endblock title %}

{% block content %}
<div class="profile">
    <script>
        var unfollowUrl = "{% url 'accounts:unfollow' profile.username %}";
        var followUrl = "{% url 'accounts:follow' profile.username %}";
    </script>
    
    <div class="sidebar">
        <div class="profileImage"></div>
        <h3 class="name">{{ profile.get_full_name }}</h3>
        <p class="handle">@{{ profile.username }}</p>
        {% if request.user != profile %}
            {% if follow %}
                <button class="unfollow">Unfollow</button>
            {% else %}
                <button class="follow">Follow</button>
            {% endif %}
        {% else %}
        {% endif %}
        <div class="stats">
            <div class="followers">{{ followers|length }} followers</div>
            <div class="following">{{ following|length }} following</div>
            <div class="posts">{{ posts|length }} posts</div>
            <div class="topics">{{ topics|length }} topics</div>
        </div>
        <div class="joined">Joined {{ profile.date_joined|date:"F o" }}</div>
    </div>
    <div class="main">
        <div class="profileNavbar">
            <ul>
                <li>
                    <button class="posts selected"> 
                        Posts
                        <span class="badge">{{ posts|length }}</span>
                    </button>
                </li>
                <!-- <li>
                    <button class="likedPosts">
                        Likes
                        <span class="badge">{{ likedPosts|length }}</span>
                    </button>
                </li> -->
                <li>
                    <button class="topics">
                        Topics
                        <span class="badge">{{ topics|length }}</span>
                    </button>
                </li>
                <li>
                    <button class="following">
                        Following
                        <span class="badge">{{ following|length }}</span>
                    </button>
                </li>
                <li>
                    <button class="followers">
                        Followers
                        <span class="badge">{{ followers|length }}</span>
                    </button>
                </li>
            </ul>
        </div>
        <div class="content">
            <div class="posts">
                {% for post in posts %}
                {% include 'blog/blogPost.html' %}
                {% empty %}
                {% endfor %}
            </div>
            <div class="following" style="display: none;">
                {% for follower in following %}
                {% include 'registration/profileTab.html' with profile=follower %}
                {% empty %}
                {% endfor %}
            </div>
            <div class="followers" style="display: none;">
                {% for follower in followers %}
                {% include 'registration/profileTab.html' with profile=follower %}
                {% empty %}
                {% endfor %}
            </div>
            <div class="likedPosts" style="display: none;">
                {% for post in likedPosts %}
                {% include 'blog/blogPost.html' %}
                {% empty %}
                {% endfor %}
            </div>
            <div class="topics" style="display: none;">
                {% for topic in topics %}
                {% include 'registration/topicTab.html' %}
                {% empty %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}