.newPost {
    padding: 4px;
    width: 50px;
    background-color: darkgray;
    border: 0;
    transition: background-color 0.1s ease-in-out;
}

.newPost:hover {
    background-color: lightgray;
}

.main > .header {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 16px;
}

.header > .top,
.side > * {
    border: 1px solid black;
    padding: 16px;
}

.side > * {
    margin-bottom: 8px;
}

.top > img {
    width: 80%;
}

.top > .time {
    font-weight: 100;
    font-size: 12px;
}

.top > .title {
    font-size: 48px;
    font-weight: 700;
}

.three img {
    width: 250px;
}

.three .time {
    font-weight: 100;
    font-size: 12px;
    color: grey;
}

.three .title {
    font-weight: 600;
}