.newPost {
    margin: 0  0 0 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.newPost > .postmain {
    padding: 0 32px;
    width: 75%;
}

.newPost > .postmain > .title {
    font-weight: 700;
    font-size: 25px;
    border-bottom: 1px solid lightgray;
    padding: 10px 16px;
    width: 100%;
    margin-bottom: 16px;
    min-height: 50px;
}

.newPost-form {
    padding: 32px;
    border-radius: 5px;
    width: 100%;
    background-color: rgb(235, 235, 235);
}

.newPost > .aside {
    padding: 0;
    margin-top: 4px;
}

.newPost > .aside > .submit {
    padding: 8px 20px;
    margin-bottom: 8px;
    border: 1px solid lightgray;
    transition: background-color 0.2s ease-in-out;
    background-color: teal;
    color: white;
}

.newPost > .aside > .submit:hover {
    background-color: lightseagreen;
    color: white;
}

.newPost > .aside .title {
    font-weight: 700;
}

.newPost > .aside .profileImage {
    background-image: url('../img/profile.jpg');
    height: 50px;
    width: 50px;
    background-position: center;
    background-size: contain;
    border-radius: 10px;
}

.newPost > .aside .name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    border: 1px solid lightgray;
    width: 250px;
    padding: 8px;
    border-radius: 5px;
}

.topic-tags {
    margin: 8px 0;
}

.topic-tags > .aside-field {
    margin: 8px 0;
}

.aside-field .tags, .aside-field #id_topic {
    width: 100%;
    height: 30px;
    outline: 0;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 8px;
}

.aside-field #id_topic {
    height: 45px;
}

.aside > .topic-tags > .post-date > .header {
    font-weight: 700;
    font-size: 13.5px;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding: 0;
}

.topic-tags > .post-date {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 2fr 1.5fr;
    gap: 8px;
    align-items: center;
}

.topic-tags > .post-date > .date, 
.topic-tags > .post-date > .time {
    border: 1px solid lightgray;
    height: 35px;
    border-radius: 5px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.topic-tags > .post-date > .date > .content,
.topic-tags > .post-date > .time > .content {
    margin-left: 8px
}

.topic-tags > .post-date > .date > .icon {
    content: url('../icons/calendar-month.svg');
    width: 30px;
    display: block;
    float: right;
    margin-right: 8px;
}

.topic-tags > .post-date > .time > .icon {
    content: url('../icons/clock-outline.svg');
    width: 30px;
    display: block;
    float: right;
    margin-right: 8px;
}

.aside-field .errorlist {
    list-style-type: none;
    font-size: 12px;
    padding: 8px;
    border-left: 2px solid red;
    margin-bottom: 4px;
    color: red;
    background-color: rgb(255, 211, 194);
}
