.post-field {
    margin: 16px;
}

#id_title, #id_text {
    width: 100%;
    outline: 0;
    border: none;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 16px;
}

#id_title {
    height: 50px;
}

.title {
    font-weight: 700;
    margin-bottom: 4px;
    font-size: 13px;
}