<!DOCTYPE html>
<html>

<head>
    <title>Jotter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% block css %}
    {% endblock css %}
</head>

<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="{% url 'posts:index' %}">Jotter</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'posts:index' %}">Feed</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Contact</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'posts:search' %}">
            {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" name='search' id="search" placeholder="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>

    {% block body %}
    {% endblock body %}

    <footer class="bg-light fixed-bottom">
        <div class="container">
            <p class="text-center text-muted">&copy; 2023 Jotter. All Rights Reserved.</p>
        </div>
    </footer>
</body>

</html>