{% extends 'posts/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'posts/css/postDetails.css' %}">
{% endblock css %}

{% block body %}
<div class="container mt-3">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="mb-4">{{ post.title }}</h1>
            <div class="row ml-2">
                <p class="font-weight-light">Tags:</p>
                {% for tag in tags %}
                <a href="{% url 'posts:tag' tag %}" class="font-italic">{{ tag }}, </a>
                {% empty %}
                {% endfor %}
            </div>
            <p class="text-muted mb-4">By Writer's Name on {{ post.dateAdded | date:'F d, Y'}}</p>
            <p>{{ post.text }}</p>
            <hr>
            <div class="row dateAndLikes">
                <p class="text-muted">Likes: {{ post.likes }} | Date: {{ post.dateAdded | date:'F d, Y'}}</p>
                <a href="{% url 'posts:deletePost' post.uuid %}" class="btn btn-danger btn-sm">Delete</a>
                <a href="{% url 'posts:editPost' post.uuid %}" class="btn btn-primary btn-sm">Edit Post</a>
            </div>
            <a href="{% url 'posts:reply' post.uuid %}">Reply</a>
            <h5>{{ numOfComments }} Comments</h5>
            {% include 'posts/comments.html' with post=post %}
        </div>
    </div>
</div>
{% endblock body %}