* {
    box-sizing: border-box;
}

.profileCard {
    border: 1px solid darkslategray;
    padding: 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    margin-top: 4px;
}

.profileCard > .dp {
    background-image: url('../img/profile.jpg');
    width: 100px;
    height: 100px; 
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.profileCard > .details {
    padding: 10px;
}

.profileCard > .details > .extra-details {
    font-size: 13px;
}

.profileCard > .details > button {
    margin: 4px;
    border-radius: 20px;
    padding: 8px;
    border: none;
    background-color: lightgray;
}

.profileCard > .details > button:hover {
    background-color: darkgray;
    color: white;
}