<!DOCTYPE html>
<html>

<head>
    <title>Jotter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Jotter</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Feed</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Contact</a>
            </li>
        </ul>
    </nav>

    <div class="container mt-3">
        <h1>Posts</h1>
        <hr>

        <div class="col">
            {% for post in posts %}
            <div class="col-sm-6 col-lg-12 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">--writer's name--</h5>
                        <p class="card-text">{{ post.text }}</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-sm-6 col-lg-12 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">No Posts</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</body>

</html>