<h2>{{ user.username }}</h2>
<img src="{{ user.profile_pic.url }}" alt="Profile Picture">
<p>
    <Strong><h5>Firstname: </h5></Strong>
    <h5>{{ user.firstname }}</h5>
</p>
<p>
    <Strong><h5>Lastname: </h5></Strong>
    <h5>{{ user.lastname }}</h5>
</p>
<p>
    <Strong><h5>username: </h5></Strong>
    <h5>{{ user.username }}</h5>
</p>
<p>
    <Strong><h5>Email: </h5></Strong>
    <h5>{{ user.email }}</h5>
</p>
<p>
    <Strong><h5>Bio: </h5></Strong>
    <h5>{{ user.bio }}</h5>
</p>
<p>
    <Strong><h5>Followers: </h5></Strong>
    <h5>{{ user.followers.count }}</h5>
</p>
<p>
    <Strong><h5>Following: </h5></Strong>
    <h5>{{ user.following.count }}</h5>
</p>
<p>
    <Strong><h5>Social Media: </h5></Strong>
    <h5>{{ user.socialLinks }}</h5>
</p>
<p>
    <Strong><h5>Topics: </h5></Strong>
    <h5>{{ user.topics }}</h5>
</p>